*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

button {
    margin: 0 10px; padding: 10px 30px;
    cursor: pointer;
    background: #fc7439;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #fff;
    transition: .3s;
}
button:hover {
    box-shadow: 0px 0px 10px #fc7439;
}
input {
    margin-right: 75px; padding: 10px 10px;
    width: 100px;
    border: none;
    border-radius: 5px;
    outline: none;
}

html {
    background: #fdf9f4;
}
header #namedays-today-container {
    padding: 10px 40px;
    position: absolute;
    top: 0; left: 0;
    width: 100vw; height: 110px;
    background: #336BEC;
    border-radius: 0 0 10px 10px;
    font-size: 14px;
    color: #fff;
    z-index: -1;
}
header #namedays-today-container #date-today {
    margin-top: 10px;
    font-weight: 600;
}
header nav {
    margin: 0 40px; padding: 0 20px;
    margin-top: 80px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 5px 20px #c3c3c3;
    font-size: 14px;
}
header nav ul {
    list-style: none;
    display: flex;
}
header nav ul li {
    padding: 5px 0;
    margin: 10px 10px;
    cursor: pointer;
}
header nav ul li:hover:not(:last-child),
header nav ul li.active:not(:last-child) {
    border-bottom: solid 2px #336BEC;
    color: #336BEC;
}
header nav ul li:last-child {
    margin-left: auto;
    cursor: default;
}
header nav ul li:last-child select {
    cursor: pointer;
    border: none;
    outline: none;
}

.container {
    padding: 10px 40px;
}
.container h1 {
    margin: 20px 0; 
}
.container .search-properties {
    display: inline-flex;
    padding: 10px 0;
    background: #fff;
    border-radius: 5px;
}
.container .search-properties .input-container {
    display: inline-flex;
    font-size: 14px;
}
.container .search-properties .input-container p {
    margin-left: 10px; padding: 10px 0;
}
.container .search-properties .input-container select {
    margin-right: 10px; padding: 10px 5px;
    border: none;
    outline: none;
    font-size: 14px;
}
.container .result__title {
    margin: 20px 0 10px 0;
}
.container .result__search-value {
    font-style: italic;
}
.container .result__output {
    margin: 20px 0;
}
#this-week-container #result-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}
#this-week-container #result-container .result {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px #c3c3c3;
}

@media screen and (max-width: 480px) {
    .container .search-properties {
        display: block;
    }
}